
* {
  box-sizing: border-box;
  color: #8642f4;
}

html {
	background-image: url('../images/throne.jpg'); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header {
	text-align: right;
}

li {
	float: left;
	width: 15%;
	padding: 2%;
	border: .01em solid #dddddd;
	list-style-type: none;
}

.header-container {
}

.main-container {

}

.characterPicture {
	width: 100%;
	height: 91px;
}

#selected-character {
	clear: both;
}

#enemy-characters {
	clear: both;
}

#fight-section {
	clear: both;
}

#attack-report {
	clear: both;
}

li.ui-widget-content {
	background-color: white;
	border: 2px solid green;
	width: 15%;
	height: 170px;
}

/* 
  These rules take effect when the browser's width
  is 769px or more.
*/
@media screen and (max-width: 980px) {

	/*
	  No specific rules for large screens at this time.
	*/
}
	

/* 
  These rules take effect when the browser's width
  is 641px or more.
*/
@media screen and (max-width: 768px) {

}

/* 
  These rules take effect when the browser's width
  is 640px or less.
*/
@media screen and (max-width: 640px) {

}